<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzg.dao.ITestDao">
	
	<insert id="insert">
		insert into testa (id) values (#{id})
	</insert>
	
	<insert id="batchInsert">
		insert into testb (testa_id,name) values 
		<trim suffixOverrides="," suffix="">
		<foreach collection="names" item="name" separator=",">
		(
			#{id},#{name}
		)		
		</foreach>
		</trim>
	</insert>
	
	<insert id="insertOne">
		insert into testb (testa_id,name)
		values (
			#{id},#{name}
		)	
	</insert>
</mapper>
