<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 使用annotation自动注册bean -->
	<context:component-scan base-package="com.lzg" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<!-- 引入swagger时发现了这个问题 -->
		<context:exclude-filter type="annotation" expression="org.springframework.context.annotation.Configuration"/>
	</context:component-scan>

	<!-- 配置kaptcha验证码 -->  
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha">  
	    <property name="config">  
	        <bean class="com.google.code.kaptcha.util.Config">  
	            <constructor-arg type="java.util.Properties">  
	                <props>  
	                    <prop key="kaptcha.image.width">100</prop>  
	                    <prop key="kaptcha.image.height">50</prop>  
	                    <prop key="kaptcha.noise.impl">com.google.code.kaptcha.impl.NoNoise</prop>  
	                    <prop key="kaptcha.textproducer.char.string">0123456789abcdefghijklmnopqrstuvwxyz</prop>  
	                    <prop key="kaptcha.textproducer.char.length">4</prop>  
	                </props>  
	            </constructor-arg>  
	        </bean>  
	    </property>  
	</bean> 
</beans>